[user]
	name = juan moreno
	email = jcmm.info@gmail.com
	signingkey = 007AEA84
[alias]
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[http]
	proxy = http://juan:nada0078@192.168.43.1:44355
  sslVerify = false
